{% extends "base.html" %}


{% block content %}


<div class="page-panel">
<h1 class="mb-3">Delete {{ object_type }}</h1>

<p>
Are you sure you want to delete <strong>{{ object_name }}</strong>?
</p>

{% if warning %}
<div class="alert alert-warning">
{{ warning }}
</div>
{% endif %}

<form method="POST">
{% csrf_token %}

<button class="btn btn-danger" {% if disable_delete %}disabled{% endif %}>
Delete
</button>

<a class="btn btn-outline-light" href="{{ cancel_url }}">
Cancel
</a>
</form>
</div>


{% endblock %}
