{% extends "base.html" %}
{% load i18n %}


{% block content %}


<div class="page-panel">
<h1 class="mb-3">{% blocktranslate %}Delete {{ object_type }}{% endblocktranslate %}</h1>

<p>
{% blocktranslate %}Are you sure you want to delete <strong>{{ object_name }}</strong>?{% endblocktranslate %}
</p>

{% if warning %}
<div class="alert alert-warning">
{{ warning }}
</div>
{% endif %}

<form method="POST">
{% csrf_token %}

<button class="btn btn-danger" {% if disable_delete %}disabled{% endif %}>
{% translate "Delete" %}
</button>

<a class="btn btn-outline-light" href="{{ cancel_url }}">
{% translate "Cancel" %}
</a>
</form>
</div>


{% endblock %}
